#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

input {
  padding: 0.5em;
  margin: 0.5em;
  color: #dedede;
  background: #656b9f76;
  border: none;
  border-radius: 3px;
  width: 70%;
}

.card {
  padding: 1.4em;
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  background-color: #302f2f77;
  border-radius: 1em;
}

.vstack {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
